<%= link_to 'New node', new_node_path %>
<h1>Listing nodes</h1>
 
<table>
  <tr>
    <th>node_name</th>
    
  </tr>
 
  <% @nodes.each do |node| %>
    <tr>
      <td><%= node.node_name %></td>
      <td><%= node.place_id %></td>
  
      <td><%= link_to 'Show', node_path(node) %></td>
       <td><%= link_to 'Edit', edit_node_path(node) %></td>
       <td><%= link_to 'Destroy', node_path(node),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>