<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<%= link_to 'Cities',  new_city_path %>
<%= link_to 'Companies',  new_company_path %>
<%= link_to 'Countries',  new_country_path %>
<%= link_to 'Images',  new_image_path %>
<%= link_to 'Nodes',  new_node_path %>
<%= link_to 'Places',  new_place_path %>
<%= link_to 'Regions',  new_region_path %>
<%= link_to 'States',  new_state_path %>
<%= link_to 'User Regions',  new_user_region_path %>
<%= link_to 'User Roles',  new_user_role_path %>



