<p>
  <strong>name:</strong>
  <%= @company.name %>
</p>
 
<p>
  <strong>country_id:</strong>
  <%= @company.country_id %>
</p>
 
<p>
  <strong>state_id:</strong>
  <%= @company.state_id %>
</p>
 
<p>
  <strong>city_id:</strong>
  <%= @company.city_id %>
</p>
 
<p>
  <strong>postcode:</strong>
  <%= @company.postcode %>
</p>
 
<p>
  <strong>start_date:</strong>
  <%= @company.start_date %>
</p>
 
<p>
  <strong>active:</strong>
  <%= @company.active %>
</p>
<p>
  <strong>copanyImage:</strong>
  <%=image_tag @company.company_image %>
</p>
<p>
  <strong>ProfileImage:</strong>
  <%=image_tag @company.profile_image %>
</p>