<%= form_for :site, url: sites_path do |f| %>

  <p>
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </p>
 
 <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  
  
  <p>
    <%= f.submit %>
  </p>
<% end %>