<%= link_to 'New place', new_place_path %>
<h1>Listing places</h1>
 
<table>
  <tr>
    <th>place_name</th>
    
  </tr>
 
  <% @places.each do |place| %>
    <tr>
      <td><%= place.place_name %></td>
      <td><%= place.company_id %></td>
  
      <td><%= link_to 'Show', place_path(place) %></td>
       <td><%= link_to 'Edit', edit_place_path(place) %></td>
       <td><%= link_to 'Destroy', place_path(place),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>